body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #A4A4A4;
}

.container {
  flex: 1;
}
span{
  font-weight: bold;
}
img{
  width: 250px;
  height:250px;
  justify-content: center;
  align-items: center;
}


a{
  text-decoration: none;
  font-size : 15px;
  font-weight: bold;
  color: #151515;
}

caption{
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  color: #151515;
  font-weight: bold;
  caption-side: top;
}

h1,h2{
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  font-family: 'Lobster', cursive;
  color: #151515;

}
h3,.underline{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Lobster', cursive;
  color: #151515;
}




/* Animation CSS pour la Validation des données Formulaire */
input:valid{
  border: 2px solid green;
}
input:invalid{
  border: 2px dashed red;
}


/* Footer */

.fab {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    justify-content: space-between;

}

.fa-twitter {
    color: white;
}
.fa-facebook-f{
  color: white;
}
.fa-instagram {
  color: white;

}


/* Responsive */
